@page
@model CoreWiki.Pages.Dont_Leave_HomeModel
@{
    ViewData["Title"] = "Dont_Leave_Home";
}



<h1>Don't Leave Home</h1>
<a href="https://en.wikipedia.org/wiki/Don%27t_Leave_Home">
    https://en.wikipedia.org/wiki/Don%27t_Leave_Home
</a>
<hr />

<img src="https://upload.wikimedia.org/wikipedia/en/4/4c/Didohome.jpg" alt="Don't Leave Home" align="right">

<p>
    <strong>"Don't Leave Home"</strong> is the third single released in the United Kingdom from
    <a href="https://en.wikipedia.org/wiki/Dido_(singer)">Dido's</a> second album, <em><a href="https://en.wikipedia.org/wiki/Life_for_Rent">Life for Rent.</a></em>
    It was officially released on 12 April 2004. Although it didn't go further than number 25 on the <a href="https://en.wikipedia.org/wiki/UK_Singles_Chart">UK Singles Chart</a>, it stayed in the charts for nine weeks.
</p>

<h2>Background</h2>
<hr />
<p>
    "Don't Leave Home" deals with <a href="https://en.wikipedia.org/wiki/Drug_addiction">drug addiction.</a> It is written and sung from the unusual point of view of the drug singing to the person who is addicted to it.
    It was originally a demo recorded for her 1999 album <a href="https://en.wikipedia.org/wiki/No_Angel_(album)"> <em> No Angel </em> </a>that was instead included on the 2003 album, <a href="https://en.wikipedia.org/wiki/No_Angel_(album)">
        Life for Rent.
        It was written and produced by Dido Armstrong and her brother <a href="https://en.wikipedia.org/wiki/Rollo_Armstrong"> Rollo Armstrong. </a>
        The song is set in <a href="https://en.wikipedia.org/wiki/Time_signature"> common time </a> composed in a moderate <a href="https://en.wikipedia.org/wiki/Tempo"> tempo </a> of 80 beats per minute <a href="https://en.wikipedia.org/wiki/F%E2%99%AF_(musical_note)"> F♯ Major </a> with a vocal range from the tone of F♯4 to the note of C♯6.[1]
</p>

<h2>Music video</h2>
<hr />
<p>
    The <a href="https://en.wikipedia.org/wiki/Jake_Nava"> Jake Nava-</a>directed music video for "Don't Leave Home" starts with the singer driving on a desert road as it gets dark. Suddenly, she finds herself in front of a forest.
    Dido leaves the car, drops her suitcase on the ground, and enters the forest. Some of the themes and scenery imply drug addiction, like the hazy affects, the forest filled with mushrooms and hallucinations of spiders and snakes.
    She leaves the forest and comes across a huge rock-like cliff by the ocean. She sings calmly by the cliff before jumping into the ocean and finds herself on a wide strand with white sand singing out to the ocean.
    The video ends with the car driving on with broken white lines. The video was shot in Cape Town, South Africa.
</p>

<h2>Track Listing</h2>
<hr />
<h3> UK CD Single </h3>
<ol>
    <li>"Don't Leave Home" - 3:47 </li>
    <li>"Stoned" (Deep Dish Stoner Remix Edit) – 4:15 </li>
</ol>

<h3> Japanese CD single </h3>
<ol>
    <li> "Don't Leave Home" – 3:47 </li>
    <li> "Stoned" (Deep Dish Stoner Remix Edit) – 4:15 </li>
    <li> "Don't Leave Home" (Recall Mix) – 4:03 </li>
    <li> "Don't Leave Home" (Video) – 3:50 </li>
</ol>

<h2>Stoned</h2>
<hr />
<p>
    The B-side, "Stoned", was released as a promotional single from Life for Rent. The song tells the story of an unwinding relationship, clouded through drugs, as the title suggests.
    "Stoned" was remixed by Deep Dish as "Stoned (Deep Dish Remix)"; this version peaked at number-one on the Hot Dance Club Songs.[2][3]
</p>

<h2>Credits and personnel </h2>
<hr />
<table>
    <thead>
        <tr>
            <th>"Don't Leave Home"</th>
            <th>"Stoned (Deep Dish Remix)" </th>
        </tr>
    </thead>
    <tbody>
        </tr>
        <tr>
            <td> <ul> <li> Producer – Rollo Armstrong </li> </ul> </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <ul> <li> Guitar – Adam Zimmon </li> </ul> </td>
        </tr>
        <tr>
            <td> <ul> <li> Co-Producer – Matthieu Clouard </li> </ul> </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <ul> <li> Keyboards – Mark Bates </li> </ul> </td>
        </tr>
        <tr>
            <td><ul> <li> Producer – Drums – Makoto Sakamoto </li> </ul> </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <ul> <li> Guitar – Percussion – Carlos Paucer </li> </ul> </td>
        </tr>
        <tr>
            <td> <ul> <li> Guitar – Richard J. Parfitt </li> </ul> </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <ul> <li> Piano – Sister Bliss </li> </ul> </td>
        </tr>
        <tr>
            <td> <ul> <li> Keyboards – Sister Bliss </li> </ul> </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <ul> <li> Remix by – Deep Dish </li> </ul> </td>
        </tr>
        <tr>
            <td> <ul> <li> Mixed by – Ash Howes </li> </ul> </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </li> </ul> </td>
        </tr>
    </tbody>
</table>


<h2>Charts</h2>
<hr />
<h3> "Don't Leave Home" <div align="center"> "Stoned (Deep Dish Remix)" </div> </h3>
<table style="display: inline-block; border: 1px solid; float: left; ">
    <thead>
        <tr>
            <th>"Chart (2004)"</th>
            <th>"Peak Position" </th>
        </tr>
    </thead>
    <tbody>
        </tr>
        <tr>
            <td> US Adult Pop Songs (Billboard)[17][3] </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 22 </td>
        <tr>
            <td> UK Singles (Official Charts Company)[16]</td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 25 </td>
        </tr>
        <tr>
            <td>Switzerland (Schweizer Hitparade)[15] </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 45 </td>
        </tr>
        <tr>
            <td> Scotland (Official Charts Company)[14]</td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 26 </td>
        </tr>
        <tr>
            <td> Romania (Romanian Top 100)[13] </td>

            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 29 </td>
        </tr>
        <tr>
            <td> Poland (Nielsen Music Control)[12] </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 7 </td>
        </tr>
    </tbody>
</table>

<table style="display: inline-block; border: 1px solid; float: center; ">
    <thead>
        <tr>
            <th>"Chart (2004)"</th>
            <th>"Peak Position" </th>
        </tr>
    </thead>
    <tbody>
        </tr>
        <tr>
            <td> US Hot Dance Club Songs (Billboard)[2][3]</td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1 </td>
        <tr>
            <td> </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  </td>
        </tr>
        <tr>
            <td> </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  </td>
        </tr>
        <tr>
            <td> </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  </td>
        </tr>
        <tr>
            <td> </td>

            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  </td>
        </tr>
        <tr>
            <td>  </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  </td>
        </tr>
    </tbody>
</table>

<h2>See also</h2>
<hr />
<ul>
    <a href="https://en.wikipedia.org/wiki/List_of_number-one_dance_singles_of_2004_(U.S.)"> List of number-one dance singles of 2004 (U.S.) </a>
</ul>


<h2>References</h2>
<hr />
<ol>
    <li> "Don't Leave Home – Dido Digital Sheet Music (Digital Download)". MusicNotes.com. <a href="https://en.wikipedia.org/wiki/Alfred_Publishing"> Alfred Publishing Co. Inc.</a> </li>
    <li><a href="https://www.allmusic.com/artist/p70992"> "Billboard charts". </a> Allmusic. 2004. Retrieved 2008-08-27.</li>
    <li><a href="https://www.billboard.com/music/dido/chart-history/">"Dido Music News & Info". Billboard. </a> Retrieved 2010-04-26.</li>
    <li><a href="https://austriancharts.at/showitem.asp?interpret=Dido&titel=Don%27t+Leave+Home&cat=s"> "Austriancharts.at – Dido – Don't Leave Home" </a> (in German). Ö3 Austria Top 40.</li>
    <li><a href="https://www.ultratop.be/nl/showitem.asp?interpret=Dido&titel=Don%27t+Leave+Home&cat=s"> "Ultratop.be – Dido – Don't Leave Home" </a> (in Dutch). Ultratop 50. Retrieved 9 May 2018.</li>
</ol>