@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">IS7012|Assignment 1|M13456541</h1>
</div>

<table>
    <thead>
        <tr>
            <th>Wikipedia Links</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="http://localhost:56850/Dont_Leave_Home"> Dont_Leave_Home </a></a></td>

        </tr>

        <tr>
            <td><a href="http://localhost:56850/Why_Me_Why_Not"> Why_Me_Why_Not </a></a></td>

        </tr>
        <tr>
            <td><a href="http://localhost:56850/Its_a_Hard_Life"> Its_a_Hard_Life </a></a></td>

        </tr>

    </tbody>
</table>

