@page
@model CoreWiki.Pages.Its_a_Hard_LifeModel
@{
    ViewData["Title"] = "Its_a_Hard_Life";
}

<h1>It's a Hard Life</h1>
<a href="https://en.wikipedia.org/wiki/It%27s_a_Hard_Life">
    https://en.wikipedia.org/wiki/It%27s_a_Hard_Life
</a>
<hr />

<img src="https://upload.wikimedia.org/wikipedia/en/6/6f/It%27s_a_Hard_Life_%28Queen_album_-_cover_art%29.jpg" align="right">

<p>
    <em> This article is about the Queen song. For the 1962 Italian novel, see It's a Hard Life (novel). For the 1973 song by Roger Daltrey, see Daltrey (album). </em>
    <strong>"It's a Hard Life" </strong>  is a song by the British rock band Queen, written by lead singer Freddie Mercury.
    It was featured on their 1984 album The Works, and it was the third single from that album. It also reached number 2 in Ireland and number 20 in the Netherlands.
    It also came 19th on a poll, The Nation's Favourite Queen Song broadcast on ITV on Tuesday 11 November 2014.
</p>

<h2>Composition</h2>
<hr />
<p>
    The opening lyric and melody of "It's a Hard Life" is based on the line "Ridi, Pagliaccio, sul tuo amore infranto!" (Laugh, clown, at your broken love!) from "Vesti la giubba", an aria from Ruggero Leoncavallo's opera Pagliacci.
    The same melody is also quoted in the soundtrack of the movie A Night at the Opera after which Queen had named their 1975 album.
    IMusically, the song recreates the feel of "Play the Game" in order to update the story, utilising Mercury's piano playing and the band's characteristic technique of layered harmonies. It is recorded very much with the ethos of earlier Queen albums in that it features 'no synthesizers'. By that time the band had been using synths on record since 1980's The Game and the gesture of returning to the traditional Queen sound was comforting to some fans.
</p>

<h2>Music video</h2>
<hr />
<p>
    Tim Pope's video which accompanies the song has been created in an operatic "style," with the band and extras appearing in period "operatic-style" costume. The video also featured an unusual "skull and bones"-themed guitar that cost more than £1,000,[1] played by May, which can also be seen on the single's cover, and also relied heavily on the use of alchemical and pagan symbols and symbolism. <br>

    The band found the costumes hot and uncomfortable, and the "eyes" on Mercury's outfit were ridiculed by the others, saying he looked "like a giant prawn".[1] Both Brian May and Roger Taylor groaned out loud when shown this video during their commentary for the Greatest Video Hits 2 collection. Taylor said it was "the most stupid music video ever made." May pointed out more positively that the video was an ironic take, as it portrayed Mercury as a wealthy man singing about how hard life and love are, and at that point Mercury in real life possessed great wealth but was still searching for love. When reflecting on the video in 2011 during an interview for the documentary Queen: Days Of Our Lives, Taylor admitted that he had previously admired director Tim Pope but felt "he was taking the mickey out of us." <br>

    Taylor remarked that he had "actually loved the song, but hated the video."[citation needed] Despite this, the video was posted on the band's official YouTube channel. <br>

    One of the extras in the clip is Austrian actress, Barbara Valentin.
</p>

<h2>Personnel</h2>
<hr />
<ul>
    <li>Freddie Mercury - lead and backing vocals, piano </li>
    <li>Brian May - electric guitar, backing vocals</li>
    <li>Roger Taylor - drums, backing vocals</li>
    <li>John Deacon - bass guitar</li>
</ul>

<h2> Live recordings </h2>
<hr />
<ul>
    <li> Live in Rio (VHS) </li>
    <li> We Are the Champions: Final Live in Japan (DVD)</li>
</ul>

The song was only played on The Works Tour.
<br>
On 17 Nov 2010, Tom Chaplin of Keane performed "It's a Hard Life" live with Brian May and Roger Taylor at The Prince's Trust Gala.[2]

<h2> Chart Positions </h2>
<hr />
<table style="display: inline-block; border: 1px solid; ">
    <thead>
        <tr>
            <th>"Chart (2004)"</th>
            <th>"Peak Position" </th>
        </tr>
    </thead>
    <tbody>
        </tr>
        <tr>
            <td> UK Singles (Official Charts Company)[3] </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 22 </td>
        <tr>
            <td> Australia (Kent Music Report)[4]</td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 25 </td>
        </tr>
        <tr>
            <td>Germany (Official German Charts)[5] </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 45 </td>
        </tr>
        <tr>
            <td> Netherlands (Single Top 100)[6]</td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 26 </td>
        </tr>
        <tr>
            <td>Netherlands (Dutch Top 40)[7]</td>

            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 29 </td>
        </tr>
        <tr>
            <td> Belgium (Ultratop 50 Flanders)[8] </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 7 </td>
        </tr>
    </tbody>
</table>

<h2>References</h2>
<hr />
<ol>
    <li>  Queen, Box of Flix, 1991, Picture Music International, liner notes p. 7</li>
    <li> "Queen News". brianmay.com. Retrieved 15 February 2019</li>
    <li> "Official Singles Chart Top 100". Official Charts Company. Retrieved 23 July 2013.</li>
    <li> Kent, David (1993). Australian Chart Book 1970–1992 (doc)|format= requires |url= (help). Australian Chart Book, St Ives, N.S.W. ISBN 0-646-11917-6.</li>
    <li> "Musicline.de – Queen Single-Chartverfolgung" (in German). Media Control Charts. PhonoNet GmbH. Retrieved 23 July 2013.</li>
</ol>
