@page
@model CoreWiki.Pages.Why_Me_Why_NotModel
@{
    ViewData["Title"] = "Why_Me_Why_Not";
}

<h1>Why Me? Why Not.</h1>
<a href="https://en.wikipedia.org/wiki/Why_Me%3F_Why_Not.">
    https://en.wikipedia.org/wiki/Why_Me%3F_Why_Not.
</a>
<hr />
<small> From Wikipedia, the free encyclopedia </small>

<img src="https://upload.wikimedia.org/wikipedia/en/1/11/Liam_Gallagher_-_Why_Me%3F_Why_Not.png" , align="right">

<p>
    <em> <strong> Why Me? Why Not. </strong> </em>
    is the upcoming second solo studio album by English singer and songwriter Liam Gallagher, set to be released on 20 September 2019 by Warner Records.[3] <br>
    The album showcases edgier and harder tone compared to his first album, similar to Oasis' Dig Out Your Soul from 2008. The album's lead single "Shockwave" became one of Gallagher's biggest solo hits, the best selling vinyl single of 2019 in the UK and his first solo single to top a chart in general by landing on #1 in Scotland.[4]
</p>

<h2>Background and recording</h2>
<hr />
<p>
    Liam Gallagher, the former frontman of the rock band Oasis, had made a successful comeback following the break-up of his post-Oasis band Beady Eye with his platinum-certified debut As You Were (2017). The album entered the British charts at number one, outselling the entire top 10 combined and achieving Gold certification in its first week, while also selling more copies than both Beady Eye albums combined. In addition, it received a positive reaction from critics and audiences. <br>
    <br>
    Gallagher revealed that he had begun work on his second album in April 2018, confirming that he would again be working with famed producer Greg Kurstin as well as Andrew Wyatt, both of whom were involved with his first album. Recording began in April 2018 in Los Angeles and continued sporadically through to 2 April 2019. The album also features his 18 year-old son Gene playing bongos on the track "One of Us". Unlike his first album, all the tracks are co-written by Gallagher.
    <br> <br>
    The album's name comes from two drawings by John Lennon that Gallagher owns. The first titled "Why Me?" was bought by Gallagher from a John Lennon art exhibition in Munich in 1997 and the second titled "Why Not" was given to Gallagher by Lennon's widow Yoko Ono.[5]
</p>

<h2>Promotion</h2>
<hr />
<p>
    On May 30, Gallagher uploaded a 50-second teaser video of him hanging out at a pub garden and blasting a new song "Shockwave" from a boombox.[6] The song was later debuted live at Hackney's Round Chapel in London [7] and made available for streaming June 7 as well as a physical vinyl release on 12 June. The first promotional single, titled "The River" was released with a music video on June 27. The song was debuted live on Glastonbury festival on 29 June. <br> <br>

    A documentary film Liam Gallagher: As It Was, which detailed his comeback into music industry, was premiered on 6 June and featured a snippet of the song "Once". The song gained acclaim from fans and was finally released on 26 July as the second promotional single. Gallagher himself declared it to be one of the best songs he has ever been part of. [8] <br>

    Gallagher played an acoustic set for MTV Unplugged in Hull City Hall on 3 August, showcasing Oasis classics as well as his solo songs. "Once" debuted live and new songs "One of Us" (released as the second single on August 16), "Now That I've Found You", "Why Me? Why Not" and "Gone" were played publicly for the first time.[9] Oasis guitarist Paul "Bonehead" Arthurs also joined onstage towards the end of the show.[10]
</p>


<h2> Track Listing </h2>
<hr />

The final track listing was revealed by Gallagher on Twitter.[11] An exclusive original demo of the song "Once" appears on the Collector's Edition.

<h3> Standard edition </h3>

<table>
    <thead>
        <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Writer</th>
            <th>Producer(s)</th>
            <th>Length</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>"Shockwave" </td>
            <td>	Liam Gallagher.Greg Kurstin.Andrew Wyatt</td>
            <td>Kurstin</td>
            <td>3:31</td>
        </tr>

        <tr>
            <td>2.</td>
            <td>"One of Us"</td>
            <td>Gallagher.Damon McMahon.Wyatt</td>
            <td>Wyatt</td>
            <td>3:25</td>
        </tr>

        <tr>
            <td>3.</td>
            <td>"Once"</td>
            <td>Gallagher.Wyatt</td>
            <td>Wyatt</td>
            <td>3:33</td>
        </tr>

        <tr>
            <td>4.</td>
            <td>"Now That I've Found You"</td>
            <td>Gallagher.Simon Aldred</td>
            <td>Aldred</td>
            <td>3:20</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>"Halo"</td>
            <td>Gallagher.Kurstin.Wyatt</td>
            <td>Kurstin</td>
            <td>3:58</td>
        </tr>
    </tbody>
</table>

<h2>References</h2>
<hr />
<ol>
    <li>Reilly, Nick. "Liam Gallagher to begin recording 'As You Were' follow-up next week". NME. Retrieved 5 July 2019.</li>
    <li> Skinner, Tom. "Liam Gallagher shares update on progress of new album while branding Noel a "hipster"". NME. Retrieved 5July 2019.</li>
    <li> Strauss, Matthew (13 June 2019). "Liam Gallagher Details New Album Why Me? Why Not". Pitchfork. Retrieved 13 June 2019..</li>
    <li>  Radio-X News.</li>
    <li> https://www.radiox.co.uk/artists/liam-gallagher/why-has-liam-gallagher-called-album-why-me-why-not/</li>
</ol>
