@page
@model CoreCrud.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}

<h1>Data Representation Guide</h1>
<hr style="margin:0">

<br />
<body>

    <table border="1">
        <thead>

        </thead>
        <tbody>
            <tr>
                <td>
                    <br /><h6>  Admins / Users can refer to the following to understand the data being represented - </h6><br />

                </td>
            </tr>
            <tr>
                <td>
                    <br />1. The "Home" page being the landing page gives the summary and statistics of the current bookings
     
                </td>
            <tr>
                <td>
                    <br />2. The "Destination" page allows the employees / admins to Create, Read, Update and Delete the details of the tours

                </td>
            </tr>
            <tr>
                <td>
                    <br />3. The "Countries" page which is linked to the "Destination" page lists all the countries that the company operates in
                    
                </td>
            </tr>
            <tr>
                <td>
                    <br />4. The "Quick Glance" page displays all the packages which are available for booking in the order of increasing price
                    
                </td>
            </tr>
        </tbody>
    </table>

</body>
