@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Bearcat Holidays!</h2>
    <p>
        This web application lists the upcoming tours organized by the company.
        The "Destination" page allows the employees / admins to Create, Read, Update and Delete the details of the tours. And, the "Countries" page which is linked to the "Destination" page lists all the countries that the company operates in.
    </p>
    <img src="https://travelleaderscorporate.com/wp-content/uploads/sites/94/2018/07/travel-agent.jpg" alt="Home_page" style="width:800px;height:500px;">
</div>
